@font-face {
  font-family: 'Roboto';
  src: url("~/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: SourceSansPro;
  src: url("~/assets/fonts/SourceSansPro-Regular.ttf") format('truetype');
}
@font-face {
  font-family: Herr Von Muellerhoff;
  src: url("~/assets/fonts/HerrVonMuellerhoff-Regular.ttf") format('truetype');
}
@font-face {
  font-family: MarckScript;
  src: url("~/assets/fonts/MarckScript-Regular.ttf") format('truetype');
}
@font-face {
  font-family: GreatVibes;
  src: url("~/assets/fonts/GreatVibes-Regular.ttf") format('truetype');
}
