footer{
  height: 200px;
  background-color: #252525;
  color: $footer-color;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  padding: 0 20px;
}

.on_footer{
  padding: 3%;
  min-height: 450px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: $main-font;
}

.footer-logo{
  height: 80px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.footer-contacts{
  margin-right: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  a{
    font-size: 22px;
    @include hover-text
  }
}

.footer-title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media #{$mf_mobileXL} {
  .footer-contacts{
    margin: 0;
    flex-direction: column;
    width: auto;
    a{
      margin: 5px 0;
    }
  }

}
